################################################################################
#  .gitignore
################################################################################

.git
target
.settings
.vscode
.classpath